html{
    scroll-behavior:smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}
img{
    width: 100%;
    border-radius: 35px;
    
}

figure{
    border: 5px solid blue;
    border-radius: 35px;
    
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    }
    

@media all and (min-width: 772px) {
    .grid{
        display: grid;
        grid-template-columns: auto auto;
         
       
    }
    .grid figure:last-of-type{
        display: grid;
        grid-column: span 2;
    }
    .grid figure {
        border-radius: 50%;
        overflow: hidden;
    }
    
    
    
}
@media all and (min-width: 992px) {
    .grid figure:nth-child(3n){
        grid-column: span 2;
    }
    .grid figure img{
        border-radius: 0px;
        margin-top: auto;
    }
    .grid figure {
        border-radius: 0px;
    }
    
}
@media (prefers-reduce-motion){
    html{
        scroll-behavior: auto;
    }

}
@media (prefers-color-scheme: dark){
    .grid figure {
        background-color: darkgoldenrod;
        border: 2px solid black;
        
    }
    .label{
        color: cornsilk;
    }
    
}
